
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');


:root{
  color-scheme: light dark;
}


body{
  background-color: var(--background-color);
}


.accordion{
  position: absolute;
  top: 40%;

}


.accordion-button{
  color: lightgray;
  background: blueviolet;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  
}

.accordion-body{
background: lightgray;
}

.logo{
  position: absolute;
  left: 45%;
  width: 8em;
  height: 8em;
  padding: 5px 0px 0px 2px;
  border-radius: 50%;
}


.btn{
  position: relative;
  width: 100%;
  height: auto;
  margin: 5px 0px 0px 2px;
  border-color: black;
  background: blueviolet;
}


  

.alert{
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  border-color: blueviolet;
  color: black;
  background-color: lightgrey;
  
  
}




.container{
  position: relative;
  top: 50em;
  display: flex !important;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content:space-between;
  
}

.card-title{
  text-align: center;
  color: black;
  
}

.card-text{
  color: black;
  text-align: center;
  font-size:small;
  font-family: 'Barlow', sans-serif;
}

.switch{
   position: absolute;
   left: 90%;
   bottom: 65em;
   width: 8em;
   height: 8em;
  padding: 5px 0px 0px 2px;
}

.card{
  border-color: blueviolet;
  background-color: lightgray;
}

.git{
  width: 3em;
  height: 3em;
}
  

